<h1> 2017 Spring/Summer  </h1>
<p> Shop for your favorite looks straight from our video campaign: </p>

<body>
    <video controls muted autoplay loop class="video" id="video">
        <source src="hygge.mp4" type="video/mp4">
    </video>
</body>
