<body>
    <h1>Contact Us</h1>
    <p>To contact us via email, complete the fields below or write us at support@hygge.com. If you would like to unsubscribe from Hygge emails, please update your email preferences.
        <p>
            <div id="pic">
            </div>

            <form id="form" action="/form_response" method="post">

                <input type="text" name="firstname" value="" placeholder="First Name">
                <br>
                </br>
                <input type="text" name="lastname" value="" placeholder="First Name">
                <br>
                </br>
                <input type="text" name="from" value="" placeholder="Email">
                <br>
                </br>
                <input type="text" name="subject" value="" placeholder="Subject">
                <br>
                </br>
                <input id="message" type="text" name="content" value="" placeholder="Message">
                <br>
                </br>
                <input type="submit">
            </form>
</body>
