<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>This is my homepage</title>
      <link rel="stylesheet" href="main.css">
      <img id="home-pic" src="/1-2.jpg">
   </head>
   <body>
   <div class="modal" id="modal">
      We would love to send you spam emails!
      <form action="/action_page.php">
         <input id="input" type="text">
      </form>
      <p>
         <button id = "nobutt">opt-out</button>
         <button id = "butt">sign me up!</button>
   </div>
   <script src="hygge.js"></script>
 </body>
</html>
