<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Muli|Julius+Sans+One|Source+Sans+Pro|Crimson+Text|Marck+Script|Poiret+One" rel="stylesheet">
</head>

<body>

    <div id="banner">
        <ul>
            <li id="sale">20% OFF Spring Essentials / Extra 25% OFF Sale Items</li>
            <li id="news"> <a href="/contact">Sign up for our newsletter!</a>
            </li>
        </ul>
    </div>
    <div>
        <h3> Hygge </h3>
        <div id="banner-2">
        </div>
        <div id="nav-banner">
            <ul class="nav">
                <li><a href="/">Homepage</a>
                </li>
                <li><a href="/ourstory">Our Story</a>
                </li>
                <li><a href="/shop">Shop</a>
                </li>
                <li><a href="/sale">Sale</a>
                </li>
                <li><a href="/campaign">Campaign</a>
                </li>
                <li><a href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>


    <%=yield %>
</body>

<script src="hygge.js"></script>

</html>
