<h1> Our Story</h1>
<p id="quote">
    "Hygge (pronounced hue-guh not hoo-gah) is a Danish word used when acknowledging a feeling or moment."
</p>
<img id="ourstory" src="/ourstory.jpg">
<p>
    Whether alone or with friends, at home or out, ordinary or extraordinary as cozy, charming or special.
</p>
<p>
    It simply requires being present and recognising aa moment that feels so sweet, cosy, charming, special or nice that you just have to name the moment.
</p>
<p>
    Some refer to hygge as an “art of creating intimacy” (either with yourself, friends and your home). While there’s no one English word to describe hygge, several can be used interchangeably to describe the idea of hygge such as cosiness, charm, happiness, ‘contentness’, security, familiarity, comfort, reassurance, kinship, and simpleness.
</p>
<p>
    Danes created hygge because they were trying to survive boredom, cold, dark and sameness and the undefinable feeling of Hygge was a way for them to find moments to celebrate or acknowledge and to break up the day, months or years. With so many cold, dark, days, the simple act of a candle glowing with a cup of coffee in the morning or a home cooked evening meal with friends can make a huge difference to one’s spirit.
</p>
<p>
    By creating simple rituals without effort {such as brewing real tea with a little china cup every evening to stopping at the flower shop every week} the Danes see both the domestic and personal life as an art form and not every drudgery to get away from. They incorporate hygge into their daily life so it becomes a natural extension rather than a forced and stressful event.
</p>
<p>
    Hygge is about being present enough to recognize and acknowledge an act, moment or feeling when the ordinary feels extraordinary.
</p>
